@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: "Roboto",sans-serif ;
   font-weight: 100px;
   font-weight: 300;
   font-style: normal;
   align-items: center;
   background-color: rgb(255, 248, 248);
   overflow-x:hidden ;
}

a {
   text-decoration: none;
}

.nav-manual {
   position: absolute;
   width: 100%;
   top: 20%; 
   display: flex;
   justify-content: center;
   background-color: rgb(243, 13, 13); 
   padding: 10px 0; /* Adicionei padding para espaçamento interno */
}
.logo img{
   height: 100px;
}
.logo{
   width:20%;  
}

.container{
   max-width: 1080px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;   
}

header{
   background-color: rgb(255, 0, 0);
   width: 100%;
   padding: 1px;
   position: fixed;
}

.sociais{
   margin-left: auto;
   width: 20%;
}

.menu{
   width: 280px;
   margin-left: 200px;
}
.menu nav a{
   color: #ffffff;
   text-decoration: none;
   padding-right: 20px;
   font-size: 15px;
   position: relative;
}

   .menu nav a::after{
      content: "";
      width: 0px;
      height: 4px;
      background-image: linear-gradient(45deg,rgb(246,248,252),rgb(168,184,248));
      position: absolute;
      top: 20px;
      left: 0;
      transition:width 1s;
   }

   .menu nav a:hover::after{
      width: 30px;
   }
.div{
   background-color: rgb(247, 4, 4);
}