/* Estilos do slider */
section.slider {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider-content {
    display: flex;
    width: 400%;
    height: auto;
    transition: 1s;
}

.slider-content input {
    display: none;
    position: fixed;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
}

.nav-manual {
    position: absolute;
    width: 100%;
    bottom: -250px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn {
    border: 2px solid #000000;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 2s;
    
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: rgb(0, 0, 0);
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #000000;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #000000;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}
