/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

header {
    background: #fb7918;
    color: #000000;
    padding: -10% 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    font-size: 28px;
}

.hero p {
    font-size: 18px;
}

section {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto ;
    padding: -100%;
    color:#000000
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-top: 10px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.contact form button {
    margin-top: 10px;
    padding: 10px;
    background: #000000;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.contact form button:hover {
    background: #0b475f;
}

footer {
    background: #fb7918;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;

}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
.menu{
    width: 1000%;
}
.menu nav a{
    color: #000000;
    text-decoration: none;
    padding-right: 90px;
    font-size: 20px;
    position: relative;
}
.menu nav a::after{
    content: "";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg,rgb(0, 85, 255),rgb(0, 51, 255));
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 1s;
}
.menu nav a:hover::after{
    width: 30px;
}
.logo {
    width: -70%;
}